h1 {
    color: orangered;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;

}

h2 {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;

}

h3 {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;

}

h4 {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;

}

h5 {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;

}

h6 {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;

}


p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

ul,
ol {
    list-style: none;
}